<table class="min-w-full border-collapse border border-gray-300 shadow-lg">
  <tr>
    <th class="border border-gray-300 p-4 bg-blue-100 font-bold text-blue-700 text-center">
      <p>Defects →</p>
      <p>Experts ↓</p>
    </th>
    <% @building_presenter.defects.each do |defect| %>
      <th class="border border-gray-300 p-4 text-center font-semibold">
        <%= defect.name %>
      </th>
    <% end %>
  </tr>
  <% @building_presenter.experts.each do |expert| %>
    <% expert_excluded = @building_presenter.excluded_experts.include?(expert) %>
    <tr>
      <td class="border border-gray-300 p-4 text-center font-semibold <%= 'bg-red-100' if expert_excluded %>">
        <%= expert.name %>
      </td>
      <% @building_presenter.defects.each do |defect| %>
        <td class="border border-gray-300 p-4 text-center <%= 'bg-red-100' if expert_excluded %>">
          <%= @building_presenter.evaluations[[defect.id, expert.id]].rating %>
        </td>
      <% end %>
    </tr>
  <% end %>
  <tr>
    <td class="border border-gray-300 p-4 bg-blue-100 font-bold text-blue-700 text-center">Average →</td>
    <% @building_presenter.defects.each do |defect| %>
      <td class="border border-gray-300 p-4 text-center font-semibold bg-blue-100">
        <%= @building_presenter.average_ratings[defect.id] %>
      </td>
    <% end %>
  </tr>
</table>
