<%= turbo_frame_tag :results do %>
  <% if @building_presenter.able_to_show_additional_tables? %>
    <div class="mt-6 text-center">
      <div class="inline-block bg-blue-50 p-4 rounded-md shadow mb-4">
        <p class="text-lg font-semibold text-blue-700">Total Sum:</p>
        <p class="text-2xl font-bold text-blue-800"><%= @building_presenter.total_sum %></p>
      </div>
      <div class="inline-block bg-blue-50 p-4 rounded-md shadow">
        <p class="text-lg font-semibold text-blue-700">Average Sum:</p>
        <p class="text-2xl font-bold text-blue-800"><%= @building_presenter.average_sum %></p>
      </div>
      <div class="inline-block bg-blue-50 p-4 rounded-md shadow">
        <p class="text-lg font-semibold text-blue-700">Sum of Squared Deviations:</p>
        <p class="text-2xl font-bold text-blue-800"><%= @building_presenter.sum_of_squared_deviations %></p>
      </div>
      <% if @building_presenter.conformity > 0.5 %>
        <div class="inline-block p-4 rounded-md shadow bg-green-50">
          <p class="text-lg font-semibold text-green-700">Conformity:</p>
          <p class="text-2xl font-bold text-green-800"><%= @building_presenter.conformity %></p>
        </div>
      <% else %>
        <div class="inline-block p-4 rounded-md shadow bg-red-50">
          <p class="text-lg font-semibold text-red-700">Conformity:</p>
          <p class="text-2xl font-bold text-red-800"><%= @building_presenter.conformity %></p>
        </div>
        <div class="mt-4">
          <% if @building_presenter.can_go_forward? %>
            <%= link_to 'Next Step', building_url(@building, step: @building_presenter.step + 1), data: { turbo_stream: true }, class: 'bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded' %>
          <% end %>
          <%= link_to 'Recalculate All', building_url(@building, recalculate_all: true), data: { turbo_stream: true }, class: 'bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded' %>
        </div>
      <% end %>
      <% if @building_presenter.conformity_was_recalculated? %>
        <div class="mt-4">
          <% if @building_presenter.can_go_back? %>
            <%= link_to 'Previous Step', building_url(@building, step: @building_presenter.step - 1), data: { turbo_stream: true }, class: 'bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded' %>
          <% end %>
          <%= link_to 'Return back', building_path(@building), data: { turbo_stream: true }, class: 'bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded' %>
        </div>

        <div class="mt-8">
          <p class="text-lg font-semibold text-gray-700">Excluded Experts:</p>
          <div class="inline-block bg-gray-50 p-6 rounded-md shadow mt-2">
            <% @building_presenter.excluded_experts.each_with_index do |expert, index| %>
              <div class="mb-4 p-4 border-l-4 border-blue-500 bg-blue-100 rounded">
                <p class="text-sm text-blue-700"><strong>Iteration <%= index + 1 %>:</strong></p>
                <p class="text-md font-medium text-blue-900">Excluded expert <%= expert.name %></p>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
