<div class="mt-8">
  <h2 class="text-2xl font-bold mb-4">Experts</h2>
  <% if @experts.any? %>
    <table class="min-w-full bg-white border border-gray-300 rounded-lg mb-4">
      <thead>
      <tr>
        <th class="py-2 px-4 border-b">Name</th>
        <th class="py-2 px-4 border-b">Actions</th>
      </tr>
      </thead>
      <tbody>
      <% @experts.each do |expert| %>
        <tr class="flex flex-wrap justify-between items-center">
          <td class="py-2 px-4 border-b flex-1"><%= expert.name %></td>
          <td class="py-2 px-4 border-b">
            <%= link_to 'Delete', building_expert_path(@building, expert), method: :delete, data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' }, class: 'bg-red-500 text-white rounded px-4 py-2' %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% else %>
    <p class="text-gray-600 mb-4">No experts found. Add a new expert below:</p>
  <% end %>

  <h3 class="text-xl font-bold mb-4">Add a new expert</h3>
  <%= form_with model: [@building, Expert.new], local: true, class: 'mb-8' do |form| %>
    <div class="mb-4">
      <%= form.label :name, class: 'block text-gray-700' %>
      <%= form.text_field :name, class: 'border border-gray-300 rounded p-2 w-full' %>
    </div>
    <div>
      <%= form.submit 'Add Expert', class: 'bg-green-500 text-white rounded px-4 py-2' %>
    </div>
  <% end %>
</div>
