<%= turbo_frame_tag :table do %>
  <% if @experts.present? || @defects.present? %>
    <table class="min-w-full border-collapse border border-gray-300 shadow-lg">
      <thead class="bg-gray-100">
      <tr>
        <th class="border border-gray-300 p-4 text-left font-semibold"></th>
        <% @defects.each do |defect| %>
          <th class="border border-gray-300 p-4 text-left font-semibold">
            <%= turbo_frame_tag dom_id(defect) do %>
              <%= defect.name %>
            <% end %>
          </th>
        <% end %>
      </tr>
      </thead>
      <tbody>
      <% @experts.each do |expert| %>
        <%= turbo_frame_tag dom_id(expert) do %>
          <tr class="<%= cycle('bg-white', 'bg-gray-100') %>">
            <td class="border border-gray-300 p-4">
              <%= turbo_frame_tag dom_id(expert) do %>
                <%= expert.name %>
              <% end %>
            </td>
            <% @defects.each do |defect| %>
              <td class="border border-gray-300 p-4 text-center">
                <%= turbo_frame_tag "defect_#{defect.id}_expert_#{expert.id}" do %>
                  <%= @evaluations[[defect.id, expert.id]]&.rating || "-" %>
                <% end %>
              </td>
            <% end %>
          </tr>
        <% end %>
      <% end %>
      </tbody>
    </table>
  <% end %>
<% end %>
