<div class="my-10">
  <h2 class="text-2xl font-bold mb-4">Defects, Experts and Evaluations</h2>
  <div class="flex justify-between mb-4 space-x-4">
    <%= form_with model: [@building, Expert.new], local: true, class: 'w-1/2' do |form| %>
      <div class="flex flex-col items-start">
        <%= form.text_field :name, value: 'New expert', class: 'border rounded px-4 py-2 mb-2 w-full', placeholder: 'Enter expert name', required: true %>
        <%= form.submit 'Create Expert', class: 'bg-blue-500 text-white px-4 py-2 rounded w-full' %>
      </div>
    <% end %>
    <%= form_with model: [@building, Defect.new], local: true, class: 'w-1/2' do |form| %>
      <div class="flex flex-col items-start">
        <%= form.text_field :name, value: 'New defect', class: 'border rounded px-4 py-2 mb-2 w-full', placeholder: 'Enter defect name', required: true %>
        <%= form.submit 'Create Defect', class: 'bg-blue-500 text-white px-4 py-2 rounded w-full' %>
      </div>
    <% end %>
  </div>

  <div class="overflow-auto">
    <%= render 'buildings/table_builder/main_table' %>
  </div>

  <div class="mt-5">
    <%= render 'buildings/table_builder/notification' %>
  </div>

  <div class="overflow-auto mt-10">
    <%= render 'buildings/table_builder/delta_table' %>
  </div>

  <div class="overflow-auto mt-10">
    <%= render 'buildings/table_builder/consistency_table' %>
  </div>

  <div class="mt-10">
    <%= render 'buildings/table_builder/results' %>
  </div>
</div>
