<div class="mx-auto md:w-2/3 w-full flex flex-col">
  <div class="mx-auto">
    <%= turbo_frame_tag :building_turbo do %>
      <div class="border border-gray-300 rounded-lg mb-4 p-4">
        <%= render @building %>
      </div>
    <% end %>

    <%= link_to 'Edit this building', edit_building_path(@building), data: { turbo_frame: :building_turbo }, class: 'mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium' %>
    <%= link_to 'Back to buildings', buildings_path, class: 'ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium' %>
    <%= link_to 'Export XML', export_xml_building_path(@building), class: 'ml-2 rounded-lg py-3 px-5 bg-blue-500 inline-block font-medium', data: { turbo: false } %>
    <div class="inline-block ml-2">
      <%= button_to 'Delete this building', @building, method: :delete, data: { turbo_confirm: 'Are you sure you want to delete this building?' }, class: 'mt-2 rounded-lg py-3 px-5 bg-red-500 text-white font-medium' %>
    </div>
  </div>

  <div class="my-10">
    <h2 class="text-2xl font-bold mb-4">Defects and Evaluations</h2>

    <div class="flex justify-between mb-4">
      <%= link_to 'Create Expert', building_experts_path(@building), data: { turbo_method: :post }, class: 'bg-blue-500 text-white px-4 py-2 rounded' %>
      <%= link_to 'Create Defect', building_defects_path(@building), data: { turbo_method: :post }, class: 'bg-blue-500 text-white px-4 py-2 rounded' %>
    </div>
    <%= render 'buildings/table' %>
  </div>
</div>
