<div class="mx-auto md:w-2/3 w-full flex flex-col">
  <div class="mx-auto">
    <%= turbo_frame_tag :building_turbo do %>
      <div class="border border-gray-300 rounded-lg mb-4 p-4">
        <%= render @building %>
      </div>
    <% end %>

    <%= link_to 'Edit this building', edit_building_path(@building), data: { turbo_frame: :building_turbo }, class: 'mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium' %>
    <%= link_to 'Back to buildings', buildings_path, class: 'ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium' %>
    <%= link_to 'Export XML', export_xml_building_path(@building), class: 'ml-2 rounded-lg py-3 px-5 bg-blue-500 inline-block font-medium', data: { turbo: false } %>
    <div class="inline-block ml-2">
      <%= button_to 'Delete this building', @building, method: :delete, data: { turbo_confirm: 'Are you sure you want to delete this building?' }, class: 'mt-2 rounded-lg py-3 px-5 bg-red-500 text-white font-medium' %>
    </div>
  </div>

  <div class="my-10">
    <h2 class="text-2xl font-bold mb-4">Defects, Experts and Evaluations</h2>

    <div class="flex justify-between mb-4 space-x-4">
      <%= form_with model: [@building, Expert.new], local: true, class: 'w-1/2' do |form| %>
        <div class="flex flex-col items-start">
          <%= form.text_field :name, value: 'New expert', class: 'border rounded px-4 py-2 mb-2 w-full', placeholder: 'Enter expert name', required: true %>
          <%= form.submit 'Create Expert', class: 'bg-blue-500 text-white px-4 py-2 rounded w-full' %>
        </div>
      <% end %>

      <%= form_with model: [@building, Defect.new], local: true, class: 'w-1/2' do |form| %>
        <div class="flex flex-col items-start">
          <%= form.text_field :name, value: 'New defect', class: 'border rounded px-4 py-2 mb-2 w-full', placeholder: 'Enter defect name', required: true %>
          <%= form.submit 'Create Defect', class: 'bg-blue-500 text-white px-4 py-2 rounded w-full' %>
        </div>
      <% end %>
    </div>
    <div class="overflow-x-auto">
      <%= render 'buildings/table' %>
    </div>
  </div>
</div>
